<!-- eslint-disable @angular-eslint/template/valid-aria -->
<header>
  <div class="header-logo">
    <img src="assets/logo-header/logo.png" alt="logo cannabis planta e texto">
  </div>
  
  <button class="mobile-menu-toggle" 
          (click)="toggleMenu()"
          [class.active]="isMenuOpen"
          aria-label="Menu mobile"
          aria-expanded="isMenuOpen">
          <img src="../../../../../assets/menu.png" alt="">
    <span class="toggle-bar"></span>
    <span class="toggle-bar"></span>
    <span class="toggle-bar"></span>
</button>
  
  <nav class="nav-container" [class.active]="isMenuOpen">
    <button class="header-button" (click)="verifyLogin(); closeMenu()">
      Fazer Login
    </button>
  </nav>
</header>