<!-- login.component.html -->
<section class="main" [style.background]="backgroundColor">

  <div class="auth-container" [@fadeInOut]>
    <!-- Formulário de Login -->
    @if (typeSelect) {
      <section class="auth-form">
        <app-signin-form
          (eventEmitterRedirectionToSignIn)="typeSelected($event)">
        </app-signin-form>
      </section>
    }

    <!-- Formulário de Registro -->
    @if (!typeSelect) {
      <section class="auth-form">
        <app-signup-form
          (eventEmitterRedirectionToLogin)="typeSelected($event)">
        </app-signup-form>
      </section>
    }


    </div>
  
</section>
