/* login.component.scss */
// Variáveis
$primary-color: #3E92CC
$white: #fff
$gray-light: #F5F5F5
$gray-medium: #666
$shadow-default: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px
$shadow-hover: rgba(0, 0, 0, 0.3) 0px 30px 60px -10px
$transition-time: 0.3s

.main
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  transition: background-color $transition-time ease
  height: 100%

.auth-container
  border-radius: 12px
  width: 100%
  position: relative
  overflow: hidden


.auth-logo
  max-width: 150px
  margin: 0 auto 30px
  display: block

.auth-form
  transition: all $transition-time ease

.auth-footer
  text-align: center
  color: $gray-medium

  a
    color: $primary-color
    cursor: pointer
    text-decoration: none
    font-weight: 500

    &:hover
      text-decoration: underline

// Responsividade
@media (max-width: 768px)
  .auth-container
    padding: 30px 20px
    max-width: 90%

  .auth-logo
    max-width: 120px
    margin-bottom: 20px
