<section class="lading-page_banner">
  <article class="lading-page_banner__call-to-action">
    <h3>Descubra o Poder do Conhecimento para Transformar Seu Futuro!</h3>

    <p>
      Aprenda novas habilidades, evolua na carreira e alcance seus objetivos com nossos cursos online. Conteúdo atualizado, professores experientes e certificado garantido.
    </p>
    
    <p>
      Cadastre-se agora e encontre o curso ideal para você! Clique no botão abaixo para começar sua jornada de aprendizado.
    </p>

    <button class="cta-button" [routerLink]="['/auth', 'register']">
      Cadastrar-se
    </button>
  </article>

  <article class="lading-page_banner__image-banner">
    <img src="../../../../../assets/cursos.png" alt="Imagem representando cursos online">
  </article>
</section>
