<section class="lading-page_banner">
  <article class="lading-page_banner__call-to-action">
    <h3>Descubra o Poder dos Óleos de Cannabis para o Seu Bem-Estar!</h3>

    <p>
      Recupere seu bem-estar de forma
      natural! Nossos óleos são formulados
      para proporcionar alívio de dores, reduzir o estresse e melhorar a qualidade do seu sono.</p>
    <p>
      Cadastre-se agora e descubra qual é o ideal para você!
      Clique no botão abaixo para acessar
    </p>
    <button>
      Descubra Agora
    </button>
  </article>
  <article class="lading-page_banner__image-banner">
    <img src="../../../assets/OIP-removebg-preview 1.png" alt="">
  </article>
</section>
