<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Cursos Cadastrados</h2>
    <button class="btn btn-success" (click)="novoProduto()">Novo Curso</button>
  </div>

  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="produtos.length === 0" class="alert alert-info">
      Nenhum produto cadastrado.
    </div>

    <table *ngIf="produtos.length > 0" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Categoria</th>
          <th>Estoque</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.name }}</td>
          <td>{{ produto.preco | currency:'BRL' }}</td>
          <td>{{ produto.categoria }}</td>
          <td>{{ produto.estoque }}</td>
          <td>
            <span class="badge" [ngClass]="produto.status ? 'bg-success' : 'bg-danger'">
              {{ produto.status ? 'Ativo' : 'Inativo' }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-primary me-2" (click)="editarProduto(produto.id!)">
              Editar
            </button>
            <button class="btn btn-sm btn-danger me-2" mat-raised-button color="primary" (click)="abrirDialog(produto.id!)">Excluir</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
